<div id="containerCookiebar"><span id="textLinkPrivacy" hidden>{{data.global.privacy}}</span></div>
{% import 'macros/linkHeader.html' as linkHeader %}

<div id="containerAlertContent" class="container"></div>
</div>
<div class="header">

<div class="it-header-slim-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="it-header-slim-wrapper-content">
                    <a class="d-none d-lg-block navbar-brand" title="Visita il sito dell' Agenzia per l'Italia digitale" aria-label="Collegamento a sito esterno - Agenzia per l'Italia digitale - nuova finestra" target="_blank" href="http://www.agid.gov.it/">Agenzia per l'Italia Digitale</a>
                    <span class="nav-mobile">
                        <nav>
                            <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu1" role="button" aria-expanded="false" aria-controls="menu1">
                                <span>Agenzia per l'Italia Digitale</span>
                                <i class="icon it-expand ml-2"></i>
                            </a>
                            <div class="link-list-wrapper collapse" id="menu1">
                                <ul class="link-list">
                                    <li>
                                        <a href="https://pianotriennale-ict.italia.it/" title="Visita il sito del Piano Triennale 2017-2019 per l'informatica nella Pubblica Amministrazione" aria-label="Collegamento a sito esterno - Piano Triennale 2017-2019 per l'informatica nella Pubblica Amministrazione - nuova finestra" target="_blank">Piano Triennale</a>
                                    </li>
                                    <li>
                                        <a href="https://ia.italia.it/">IA</a>
                                    </li>
                                    <li>
                                        <a href="https://avanzamentodigitale.italia.it/it" title="Visita il sito dell' avanzamento trasformazione digitale" aria-label="Collegamento a sito esterno - avanzamento trasformazione digitale - nuova finestra" target="_blank">Avanzamento Digitale</a>
                                    </li>
                                    <li>
                                        <a href="https://www.dati.gov.it/" title="Visita il sito dei dati aperti della pubblica amministrazione" aria-label="Collegamento a sito esterno - dati aperti della pubblica amministrazione - nuova finestra" target="_blank">Dati</a>
                                    </li>
                                    <li>
                                        <a href="https://comunica.italia.it/" title="Visita il sito cominica italia" aria-label="Collegamento a sito esterno - cominica italia - nuova finestra" target="_blank">Comunica Italia</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </span>
                    <div class="header-slim-right-zone">
                        <div class="d-xs-none it-access-top-wrapper">
                            <a class="button-slim-header btn btn-primary btn-sm" href="{{data.global._linkPageFabbisogno._url}}">Esprimi fabbisogno</a>
                        </div>
                        {% if not data.user %}
                            {# <div class="it-access-top-wrapper ml-3">
                                <a class="btn btn-primary btn-sm" href="/login">Login</a>
                            </div> #}
                        {% else %}
                        <li class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action" aria-expanded="false"><img src="/modules/my-apostrophe-assets/img/icon-profile.svg" class="avatar" alt="Avatar"><span>{{data.user.username}}</span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="dropdown-item text-blu">Settings</a></li>
                                <li class="divider dropdown-divider text-blu"></li>
                                <li><a href="/logout" class="dropdown-item text-blu">Logout</a></li>
                            </ul>
                        </li>
                        {% endif %} 

                         {#{% if not data.user %}
                            <div class="it-access-top-wrapper ml-3">
                                <a class="btn btn-primary btn-sm" href="/login">Login</a>
                            </div>
                        {% else %}
                            <div class="it-access-top-wrapper ml-3">
                                <a class="btn btn-primary btn-sm" href="/logout">Logout</a>
                            </div>
                            <div class="it-access-top-wrapper ml-3" style="color: #fff;">
                                <span>{{data.user.username}}</span>
                            </div>
                        {% endif %} #}
                        
                        {#{% if data.user %}
                            <div class="it-access-top-wrapper ml-3">
                                <a class="btn btn-primary btn-sm" href="/logout">Logout</a>
                            </div>
                            <div class="it-access-top-wrapper ml-3" style="color: #fff;">
                                <span>{{data.user.username}}</span>
                            </div>
                        {% endif %}#}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="corpo-header">
    <div class="testata container pt-5 pb-3">
        <div class="row align-center">
            <div class="col-8 col-sm-8 col-md-6 col-lg-7">
                <a href="/">
                    <div class="m-mobile mobile-testata media header-title pt-2">
                        <img class="Logo-innova img-fluid mr-3" data-src="holder.js/64x64" alt="Logo innova italia" src="/modules/my-apostrophe-assets/img/logo-innova.svg" data-holder-rendered="true">
                        <div class="media-body pl-2">
                            <h1 class="no_toc">Appaltinnovativi.GOV</h1>
                            <h2 class="no_toc d-none d-md-block">Gli appalti di innovazione della Pubblica Amministrazione</h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-2 col-sm-2 col-md-4 col-lg-4">
                <div class="it-socials d-none d-md-flex float-right-center">
                    <span class="social">Seguici su</span>
                    <ul class="social_list list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="https://it.linkedin.com/company/agenzia-per-l%27italia-digitale" title="Visita il profilo dell' AGID su linkedin" aria-label="Collegamento a sito esterno - profilo linkedin Agenzia per l'Italia digitale - nuova finestra" target="_blank">
                                <i class="it-linkedin"></i>
                                <span class="sr-only">Linkedin</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/agidgov" title="Visita il profilo dell' AGID su twitter" aria-label="Collegamento a sito esterno - profilo twitter Agenzia per l'Italia digitale - nuova finestra" target="_blank">
                                <i class="it-twitter"></i>
                                <span class="sr-only">Twitter</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://medium.com/@AgidGov" title="Visita il profilo dell' AGID su medium" aria-label="Collegamento a sito esterno - profilo medium Agenzia per l'Italia digitale - nuova finestra" target="_blank">
                                <i class="it-medium"></i>
                                <span class="sr-only">Medium</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                <div class="it-search-wrapper">
                    {# <span class="mr-15 d-none d-md-block">Cerca</span> #}
                    <a class="search-link rounded-circle bg-white" aria-label="Cerca" href="/search">
                        <i class="fa fa-search fa-lg text-primary"></i>
                    </a>
                </div>
            </div>
        </div>

        <!--search <div class="col-4 d-block d-sm-block d-md-none text-right align-middle"> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#searchForm" aria-controls="searchForm" aria-expanded="false" aria-label="Toggle navigation"> <i class="it-search"></i> </button> </div> -->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 pl-0">
                <nav class="pageContainer navbar navbar-expand-lg">
                    <div class="container">
                        <button class="custom-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsLarge" aria-controls="navbarsTop" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="it-list"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsLarge">
                            <div class="menu-wrapper">
                                <ul class="navbar-nav mr-auto">
                                    {% set pageLocation = data.page %}
                                    {{linkHeader.render(data.global.linkHeader,pageLocation)}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {# <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 pl-0">
            <nav class="pageContainer navbar navbar-expand-lg">
                <div class="container">
                    <div class="collapse navbar-collapsable" id="navbarsLarge">
                        <div class="close-div">
                            <button class="btn close-menu" data-toggle="collapse" data-target="#navbarsLarge" type="button">
                                <span class="it-close"></span>close
                            </button>
                        </div>
                        <div class="menu-wrapper">
                            <ul class="navbar-nav mr-auto">
                                {% set pageLocation = data.page %}
                                {{linkHeader.render(data.global.linkHeader,pageLocation)}}
                            </ul>
                        </div>
                    </div>
                    <span></span>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsLarge" type="button" aria-expanded="false" aria-label="Toggle navigation" >
                        <span class="it-list"></span></button>
                </div>
            </nav>
        </div>
    </div> #}
</div>
</div>
</div>