{% macro render() %}
    <ul id="linkSocial" class="list-inline">
        <li class="list-inline-item">
            <a target="_blank" id="facebook" title="Condividi sul tuo profilo facebook" aria-label="Collegamento a sito esterno - Condividi sul tuo profilo facebook - nuova finestra" href="http://www.facebook.com/sharer.php?u=">
                <i class="it-facebook"></i>
                <span class="sr-only">Facebook</span></a>
        </li>
        <li class="list-inline-item">
            <a target="_blank" id="twitter" title="Condividi sul tuo profilo twitter" aria-label="Collegamento a sito esterno - Condividi sul tuo profilo twitter - nuova finestra" href="https://twitter.com/share?url=">
                <i class="it-twitter"></i>
                <span class="sr-only">Twitter</span></a>
        </li>
        <li class="list-inline-item">
            <a target="_blank" id="linkedin" title="Condividi sul tuo profilo linkedin" aria-label="Collegamento a sito esterno - Condividi sul tuo profilo linkedin - nuova finestra" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=">
                <i class="it-linkedin"></i>
                <span class="sr-only">Linkedin</span></a>
        </li>
    </ul>
{% endmacro %}